.env
*.pem
profiles.yml

__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/
**/.pytest_cache/
.venv/
venv/

dbt/steam_sentiment/target/
dbt/steam_sentiment/logs/
dbt/steam_sentiment/dbt_packages/

data/steam_reviews.csv
*.duckdb
*.duckdb.wal

logs/
*.log
